DJANGO_SECRET_KEY=your_own_django_key

CLOUDINARY_URL=cloudinary_environment
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

